[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
flake8-bugbear = "*"
flake8-bandit = "*"
flake8-black = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
dpytest = "*"
coverage = "*"
pytest-cov = "*"
nox = "*"

[packages]
discord-py = "*"
pillow = "*"
requests = "*"
googletrans = "==4.0.0rc1"

[scripts]
ted = "python launcher.py"
test = "pytest --cov=. tests/"
nox = "nox -r"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
